<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings><add name="nickEntities" connectionString="metadata=res://*/DAL.Model680.csdl|res://*/DAL.Model680.ssdl|res://*/DAL.Model680.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=nick;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>